html, body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans 3", sans-serif;
  background-color: #EDEDED;
}

h1, h3, h4, p, span, .navbar, .title, .avatar, .user, .poster, .img-post, .icons, .icon, .caption {
  margin: 0;
}

h1 {
  color: #000;
  font-size: 15px;
}

h4 {
  font-size: 12px;
  font-weight: 300;
}

section {
  background-color: white;
}

.container {
  width: 620px;
  margin: 0 auto;
  background-color: #EDEDED;
}

.post {
  margin-bottom: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #C6C6C6;
  background-color: white;

}

.bold-text {
  font-weight: bolder;
}
.title {
  width: 127px;
}

.avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.poster {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 15px 10px;
}

.user {
  line-height: 15px;
}
.img-post {
  width: 100%;
}

.icons {
  padding: 10px 10px 0 15px ;
}

.icon {
  width: 23px;
  margin-right: 8px;
}

.icon:hover{
  opacity: 0.5;
}

.caption {
  padding: 5px 5px 10px 12px;
}

.caption h3 {
  margin-bottom: 10px;
}
.caption span {
  padding-right: 4px;
}
